body{
    background-image: linear-gradient(to right, rgb(120, 227, 238), rgb(103, 157, 191) );
}
form > div, fieldset {
    margin-bottom: 10px;
    padding: 10px 0px;
}

form{
    width: 50%; margin: 0px auto;
}

fieldset{
    background: rgba(229, 251, 250, 0.539);
    border: solid 1,5px #aaa
}
legend{
    color: #31315a;
    font-weight: bold;
    font-variant: small-caps;
}
textarea{
    vertical-align: text-top;
    width: 300px;
    height: 180px;
}
label{
    display: inline-block;
    width: 150px;
    text-align: right;
    font-weight: bold;
}
label.obrigatorio{
    color: #AA0000;
}
input[type=text], input[type=email], select{
    width: 300px;
    padding: 0px;
}
.cad label{
    width: 300px;
    text-align: left;
}
div.cad{
    padding-left: 150px;
}

div#client{
    padding-left: 150px;
}
#client label {
    display: inline-block;
    text-align: left;
    width: fit-content;
    padding-right: 20px;
}
h1{
    text-shadow: 0px 0px 5px rgb(229, 251, 250);
}

div.send{
    text-align: center;
}
